<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="chat-container">
        <div id="header">
            <h1>Chatbot Assistant</h1>
        </div>
        <div id="help-topics">
            <h2>Help Topics</h2>
            <div class="button-container">
                <button onclick="setQuestion('What programming languages should I learn?')">Programming Languages</button>
                <button onclick="setQuestion('How do I start with software-web development?')">Development</button>
                <button onclick="setQuestion('What is artificial intelligence?')">Artificial Intelligence</button>
                <button onclick="setQuestion('How can I improve my coding skills?')">Coding Tips</button>
                <button onclick="setQuestion('I am a junior developer')">Junior Developer</button>
            </div>
        </div>
        <div id="messages"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Type a message...">
            <button id="send" onclick="sendMessage()">⬆</button>
        </div>
    </div>
    <!-- Back to Top Button -->
    <button id="back-to-top" onclick="scrollToTop()">△Top</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
